<html>
<head>
</head>
<body ng-app='myApp' ng-controller='myCtrl'>
    <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-success" ng-show="successMessage">
            <strong>{{ message }}</strong>
    </div>


<script>
    var app = angular
        .module("myApp",[])
        .controller("myCtrl", function ($scope, $http, $timeout) {
          $http.post('/student/home').then(function (response) {
            $scope.successMessage = "Form submitted successfully";
            $scope.isDisplay = true;
            $timeout(function () {
              $scope.isDisplay = false;
              window.location = '/student/home';
            }, 5000);
          });
        })

</script>
</body>
</html>
