/*body {
  background-image: url("https://www.amrita.edu/sites/default/files/campus_images/amrita-university-amritapuri.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}*/


body {
    margin: 30px 0px;
}
#footer {
    background-image: url("https://www.amrita.edu/sites/default/files/campus_images/amrita-university-amritapuri.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 100px;
  left: 0px;
  right: 0px;
  background-color: inherit;
  text-align: center;
}
.second {
  position: absolute;
  width: 100%;
  top: 700px;
  left: 0px;
  right: 70px;
  text-align: center;
  font-size: 120%;
}

.third {
  position: absolute;
  width: 100%;
  top: 1400px;
  left: 0px;
  right: 70px;
  text-align: center;
  font-size: 120%;
}

.fourth {
  position: absolute;
  width: 100%;
  top: 2100px;
  left: 0px;
  right: 70px;
  text-align: center;
  font-size: 300%;
}

.btn {
  display:block;
  height: 50px;
  width: 50px;
  background:#000;
  border-radius: 100%;
  border: 1px white;
  position: absolute;
  left:600px;
  top:390px;

}

.btn1 {
  display:block;
  height: 50px;
  width: 50px;
  background:#000;
  border-radius: 100%;
  border: 1px white;
  position: absolute;
  left:600px;
  top:390px;

}

.btn2 {
  display:block;
  height: 50px;
  width: 50px;
  background:#000;
  border-radius: 100%;
  border: 1px white;
  position: absolute;
  left:600px;
  top:390px;

}

button{
    background-color: #fff;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left:1200px;
    top:3700px;
  }
 .bs-dark.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.bs-dark .navbar-img {padding:5px 6px !important;}
.bs-dark .navbar-img img {width:40px;}
.bs-dark .dropdown-menu {
  min-width: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  background-color: #000;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.bs-dark .dropdown-menu .divider {
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.bs-dark .dropdown-menu > li > a {
  padding: 6px 20px;
  color: rgba(255,255,255,0.80);
}
.bs-dark .dropdown-menu > li > a:hover,
.bs-dark .dropdown-menu > li > a:focus {
  color: rgba(255,255,255,0.70);
  text-decoration: none;
  background-color: transparent;
}
.bs-dark .dropdown-menu > .active > a,
.bs-dark .dropdown-menu > .active > a:hover,
.bs-dark .dropdown-menu > .active > a:focus {
  color: rgba(255,255,255,0.70);
  text-decoration: none;
  background-color: transparent;
  outline: 0;
}

.bs-dark .navbar-form {
  margin:0;
  margin-top: 5px;
  padding:8px 0px;
}

.bs-dark .navbar-form .search-box {
  border:0px;
  height:35px;
  outline: none;
  width:320px;
  padding-right: 3px;
  padding-left: 15px;
  margin:4px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
}

.bs-dark .navbar-form button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -34px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.bs-dark .search-box:focus + button {
  z-index: 3;
}

@media (min-width: 768px) {
    .bs-dark .dropdown:hover {background-color: #000;}
	.bs-dark .dropdown:hover .dropdown-menu {
	  display: block;
	}
	.bs-dark .navbar-form {
	  padding:0px;
	}
	.bs-dark .navbar-form .search-box {
	  width:260px;
	  height:32px;
	}

}
