<html>
<head>
  <title>Home</title>
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{% static 'cir/home.css' %}" />
</head>
<body>
  <div class="bar">
  <ul>
    <li><a class="active" href="http://127.0.0.1:8000/cir1/post/">Post</a></li>
    <li><a href="http://127.0.0.1:8000/cir1/search/">Search</a></li>
    <li><a href="http://127.0.0.1:8000/cir1/export">Export</a></li>
    <li><a href="https://www.amrita.edu/contact-us">Contact</a></li>
  </ul>
</div>
<div id="footer">
  <!--<button class="btn" type="button"><i class="material-icons" style="color:white">menu</i>About</button>-->
  <button class="btn" type="button"><i class="fa fa-angle-double-down" style="color:white"></i></button>
</div>
<div class="second">
  <h1>About Amrita</h1>
  <p>The Amrita Vishwa Vidyapeetham is a dream come true,<br> a dream nursed by Mata Amritanandamayi to have a centre of excellence in learning for the benefit of all.<br> With headquarters at Coimbatore and campuses at Amritapuri, Kochi, Bengaluru and Mysuru, <br>Amrita Vishwa Vidyapeetham has emerged as one of the fastest growing institutions of higher learning in India.<br> In less than two decades, Amrita Vishwa Vidyapeetham has blossomed into a multi-disciplinary,<br> multicampus centre that offers over 150+ undergraduate,<br> postgraduate and doctoral programmes</p>

  <button class="btn1" type="button"><i class="fa fa-angle-double-down" style="color:white"></i></button>
</div>

<div class="third">
  <h1>About CIR</h1>
  <p>The Directorate of Corporate & Industry Relations (CIR) <br>strives to achieve excellent placement of students each year<br>. A proven track record of consistent high quality placements year-on-year<br> is one of the reasons for many bright students opting for admissions in Amrita.<br> Placements for students of engineering, arts & sciences and allied courses are handled by one group of experts<br> with Head-Placement at the top,<br> with support from Placement Managers positioned at other campuses. <br>Placements at Amrita have always been excellent.</p>

  <button class="btn2" type="button"><i class="fa fa-angle-double-down" style="color:white"></i></button>
</div>
<div class="fourth">
  <p> Thank You!</p>
</div>

<script language="javascript">
	$(".btn").click(function() {
    $('html,body').animate({
        scrollTop: $(".second").offset().top},
        'slow');
});
</script>

<script language="javascript">
	$(".btn1").click(function() {
    $('html,body').animate({
        scrollTop: $(".third").offset().top},
        'slow');
});
</script>

<script language="javascript">
	$(".btn2").click(function() {
    $('html,body').animate({
        scrollTop: $(".fourth").offset().top},
        'slow');
});
</script>
</body>
</html>