<html>
<head>
  <title>Home</title>
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{% static 'cir/home.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse bs-dark">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a class="active" href="http://127.0.0.1:8000/cir1/post/">Post <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="http://127.0.0.1:8000/cir1/export">Export <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="https://www.amrita.edu/contact-us">Contact <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://127.0.0.1:8000/cir1/search_company">Search by Company</a></li>
                <li><a href="http://127.0.0.1:8000/cir1/search_ctc">Search by CTC</a></li>
                <li><a href="http://127.0.0.1:8000/cir1/search_date">Search by Date</a></li>
                <li><a href="http://127.0.0.1:8000/cir1/search_branch">Search by Branch</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <h1>CIR@Amrita</h1>
          </ul>
    </nav>
<div class="image">
  
</div>
<div id="footer">
  <!--<button class="btn" type="button"><i class="material-icons" style="color:white">menu</i>About</button>-->
  <button class="btn" type="button"><i class="fa fa-angle-double-down" style="color:white"></i></button>
</div>
<div class="second">
  <h1>About Amrita</h1>
  <p>The Amrita Vishwa Vidyapeetham is a dream come true,<br> a dream nursed by Mata Amritanandamayi to have a centre of excellence in learning for the benefit of all.<br> With headquarters at Coimbatore and campuses at Amritapuri, Kochi, Bengaluru and Mysuru, <br>Amrita Vishwa Vidyapeetham has emerged as one of the fastest growing institutions of higher learning in India.<br> In less than two decades, Amrita Vishwa Vidyapeetham has blossomed into a multi-disciplinary,<br> multicampus centre that offers over 150+ undergraduate,<br> postgraduate and doctoral programmes</p>

  <button class="btn1" type="button"><i class="fa fa-angle-double-down" style="color:white"></i></button>
</div>

<div class="third">
  <h1>About CIR</h1>
  <p>The Directorate of Corporate & Industry Relations (CIR) <br>strives to achieve excellent placement of students each year<br>. A proven track record of consistent high quality placements year-on-year<br> is one of the reasons for many bright students opting for admissions in Amrita.<br> Placements for students of engineering, arts & sciences and allied courses are handled by one group of experts<br> with Head-Placement at the top,<br> with support from Placement Managers positioned at other campuses. <br>Placements at Amrita have always been excellent.</p>

  <button class="btn2" type="button"><i class="fa fa-angle-double-down" style="color:white"></i></button>
</div>
<div class="fourth">
<div class="black">
      <a href="https://www.youtube.com/user/AmritaUniversity"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/AmritaUniversity"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="https://twitter.com/AMRITAedu"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
      <a href="https://plus.google.com/112233236170731957867"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
      <a href="https://in.linkedin.com/company/amrita-university"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      <a href="https://in.linkedin.com/company/amrita-university"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></a>
  </div>
</div>

<script language="javascript">
	$(".btn").click(function() {
    $('html,body').animate({
        scrollTop: $(".second").offset().top},
        'slow');
});
</script>

<script language="javascript">
	$(".btn1").click(function() {
    $('html,body').animate({
        scrollTop: $(".third").offset().top},
        'slow');
});
</script>

<script language="javascript">
	$(".btn2").click(function() {
    $('html,body').animate({
        scrollTop: $(".fourth").offset().top},
        'slow');
});
</script>
</body>
</html>
