<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grayscale - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/cir/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/cir/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="/static/cir/css/grayscale.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i><span class="light">CIR@Amrita</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="link" href="#page-top"></a>
                    </li>
                     <li>
                        <a class="link" href="http://127.0.0.1:8000/cir1/post/">Post</a>
                    </li>
                    <li>
                        <a class="link" href="http://127.0.0.1:8000/cir1/export">Export</a>
                    </li>
                    <li>
                        <a class="link" href="https://www.amrita.edu/contact-us">Contact</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="drop" href="http://127.0.0.1:8000/cir1/search_company">Search by Company</a></li>
                            <li><a class="drop" href="http://127.0.0.1:8000/cir1/search_ctc">Search by CTC</a></li>
                            <li><a class="drop" href="http://127.0.0.1:8000/cir1/search_date">Search by Date</a></li>
                            <li><a class="drop" href="http://127.0.0.1:8000/cir1/search_branch">Search by Branch</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Amrita</h1>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Amrita</h2>
                <p>The Amrita Vishwa Vidyapeetham is a dream come true,<br> a dream nursed by Mata Amritanandamayi to have a centre of excellence in learning for the benefit of all.<br> With headquarters at Coimbatore and campuses at Amritapuri, Kochi, Bengaluru and Mysuru, <br>Amrita Vishwa Vidyapeetham has emerged as one of the fastest growing institutions of higher learning in India.<br> In less than two decades, Amrita Vishwa Vidyapeetham has blossomed into a multi-disciplinary,<br> multicampus centre that offers over 150+ undergraduate,<br> postgraduate and doctoral programmes</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About CIR</h2>
                    <p>The Directorate of Corporate & Industry Relations (CIR) <br>strives to achieve excellent placement of students each year. A proven track record of consistent high quality placements year-on-year is one of the reasons for many bright students opting for admissions in Amrita.<br> Placements for students of engineering, arts & sciences and allied courses are handled by one group of experts with Head-Placement at the top,with support from Placement Managers positioned at other campuses. <br>Placements at Amrita have always been excellent.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Amrita</h2>
                <p>Feel free to contact us!!</p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/AMRITAedu" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/AmritaUniversity" class="btn btn-default btn-lg"><i class="fa fa-facebook-official"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/112233236170731957867" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="/static/cir/vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/cir/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/cir/js/grayscale.min.js"></script>

</body>

</html>
